<%# locals: (game:, current_round:) -%>
<% game.round.filter { |round| round.round_number <  current_round.round_number}.each do |round| %>
  <hr/>
  <b>Round <%= round.round_number %></b>

  <% if round.game_phase == GAME_PHASE[:NIGHT] %>
    <% if (mafia_target = RoundService.find_mafia_target(round)) %>
      <% if RoundService.doctor_saved(round) %>
        <p>Someone was attacked during the night but the doctor arrived in time to save them. That player knows they were attacked, but could not identify their attackers or the doctor.</p>
      <% else %>
        <% if (flavor_text = RoundService.generate_mafia_hit_flavor_text(round)) %>
          <%= tag.p flavor_text.html_safe %>
          <p><span class="player-name"><%= mafia_target.display_name %></span> was revealed to be a <%= Player::ROLES[mafia_target.role] %></p>
        <% else %>
          <p><span class="player-name"><%= mafia_target.display_name %></span> was attacked and eliminated during the night. This player was a <%= Player::ROLES[mafia_target.role] %></p>
        <% end %>
      <% end %>
    <% else %>
      <p>The Mafiosi failed to decide on a target. No one was attacked.</p>
    <% end %>
    <% if (detective_target = RoundService.detective_found(round)) %>
      <%= tag.p RoundService.generate_detective_discovery_flavor_text(round).html_safe %>
    <% end %>
  <% else %>
    <% if (eliminated_player = RoundService.find_eliminated_player(round)) %>
      <%= tag.p RoundService.generate_voting_flavor_text(round).html_safe %>
    <% end %>
  <% end %>
<% end %>
<hr/>